---
import Base from '../layouts/Base.astro';
import HeroCTA from '../components/HeroCTA.astro';
import DetailCardGrid from '../components/DetailCardGrid.astro';
import meta from '../data/pages-meta.json';
import hero00 from '../data/sections/partners/00-HeroCTA.json';
import grid01 from '../data/sections/partners/01-DetailCardGrid.json';

const m = meta['partners'];
---

<Base title={m.title} description={m.description} bodyClass={m.bodyClass}>
  <HeroCTA {...hero00.props} />
  <article class="post" id="post-612579">
    <div class="grid">
      <div class="container">
        <DetailCardGrid {...grid01.props} />
      </div>
    </div>
  </article>
</Base>
