---
import SimpleCard from './SimpleCard.astro';

interface CardImage {
  style: string;
  src: string;
  width: number;
  height: number;
  alt: string;
}

interface PulloutLink {
  title: string;
  url: string;
  target: string;
}

interface PulloutContent {
  images: number[] | false;
  title: string;
  description: string;
  above_link_text: string;
  link: PulloutLink | null;
}

interface CardOptions {
  clickToOpenPullout: boolean;
  pulloutContent: PulloutContent;
  pulloutPanelClass: string;
}

interface Card {
  modifiers?: string;
  href: string;
  cursorText?: string;
  options: CardOptions;
  image?: CardImage | null;
  titleHtml: string;
}

interface Props {
  title: string;
  identifier: string;
  cards: Card[];
}

const { title, identifier, cards } = Astro.props;

const carouselOptions = {
  cellCount: cards.length,
  instagramStyleProgressBar: false,
  carousel_if_greater_than: [],
  cellAlign: 'left',
  contain: true,
  freeScroll: false,
  lazyLoad: true,
  fade: false,
  autoPlay: false,
  wrapAround: false,
  cellSelector: '.CardsRow__cell',
  pageDots: false,
  groupCells: true,
  prevNextButtons: false,
  hash: false,
  imagesLoaded: true,
  setGallerySize: true,
  draggable: true,
  adaptiveHeight: false,
  identifier,
};
---

<section class="CardsRow " g-options="null" data-identifier={identifier} g-component="CardsRow">
	<header class="CardsRow__header">
		<h3 class="CardsRow__title">{title}</h3>

		<div class="CardsRow__header-right">
				<nav class="CardsRow__carousel-nav is-start" g-ref="nav">
			<ul class="CardsRow__carousel-nav-list">
				<li class="CardsRow__carousel-nav-item">
					<button class="CardsRow__carousel-nav-button" g-ref="prev">Prev</button>
				</li>
				<span class="CardsRow__carousel-nav-separator">&nbsp;/&nbsp;</span>
				<li class="CardsRow__carousel-nav-item">
					<button class="CardsRow__carousel-nav-button" g-ref="next">Next</button>
				</li>
			</ul>
		</nav>
				</div>
	</header>

	<div class="CardsRow__inner">
		<section class="Carousel " g-component="Carousel" g-options={JSON.stringify(carouselOptions)} data-identifier={identifier}>
			{cards.map((card) => (
				<div class="CardsRow__cell">
					<SimpleCard {...card} />
				</div>
			))}
		</section>
	</div>
</section>
