---
import Slide from './Slide.astro';

interface IntrinsicImage {
  src: string;
  width: number;
  height: number;
  alt?: string;
  ratio: string;
  fallback: string;
}

interface SlideData {
  options?: Record<string, unknown> | null;
  image?: IntrinsicImage;
  label?: string;
  title?: string;
  description?: string;
  credit?: string;
}

interface Props {
  options?: Record<string, unknown> | null;
  identifier?: string;
  slides?: SlideData[];
}

const { options = null, identifier = '', slides } = Astro.props;
---

<section
	class="Carousel "
	g-component="Carousel"
	g-options={JSON.stringify(options)}
	data-identifier={identifier}
>
	{slides ? slides.map((slide) => <Slide {...slide} />) : <slot />}
</section>
